* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 1500px;
  width: 100vw;
  background: wheat;
  border: 1px solid black;
}

#vh {
    height: 100vh;
}

.bottom-container {
  height: 1000px;
  width: 100vw;
  background: skyblue;
  border: 1px solid black;
}